##Carpeta cache
.cache/

##Carpeta dotnet
.dotnet/

##Carpeta linuxbrew
.linuxbrew/

##Carpeta ssh
.ssh/

##Carpeta vscode-server
.vscode-server/

##Carpeta config
.config/

##Carpeta vendor
.vendor/

##Carpeta local
.local/

##Archivo bash-history
.bash_history

##Archivo bash-logout
.bash_logout

##Archivo bash-profile
.bash_profile

##Archivo bashrc
.bashrc

##Archivo wget-hsts
.wget-hsts

##Archivo lesshst
.lesshst

##Archivo gitconfig
.gitconfig

##Archivo viminfo
.viminfo